// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fixed-bg {
  min-height: 100%;
  background-size: cover;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-size: 3.5em;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
  opacity: 0.95;
}

.submain{
  font-size: 5.5em;
  color: white;
}

.about-img {
  width: 100%;
  height: auto;
}

.image{
  width: 50px;
  height: 50px;
}

.main-text {
  font-size: 5.5em;
  line-height:0px;
}
.sub-text{
  color:#fff;
  line-height:0px;
  text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
}

.text-box {
  background: rgba(255,255,255,0.8);
  padding: 20px;
  margin: 0;
  max-width: 1000px;
}

.fixed-bg h2 {
  font-size: 2.5em;
}
.fixed-bg p {
  text-align: center;
  max-width: 1000px;
  font-size: 1.2em;
  text-align: left;
}

.bg-1 {
  background-image: url("https://images.pexels.com/photos/3289156/pexels-photo-3289156.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
}
.bg-1-1 {
  background-image: url("https://images.pexels.com/photos/1671324/pexels-photo-1671324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
.bg-2 {
  background-image: url("https://images.pexels.com/photos/442420/books-shelves-architecture-wood-442420.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
.bg-2-1 {
  background-image: url("https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
.bg-3 {
  background-image: url("https://images.pexels.com/photos/5613402/pexels-photo-5613402.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
.bg-3-1 {
  background-image: url("https://images.unsplash.com/photo-1532186773960-85649e5cb70b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
}
.bg-4 {
  background-image: url("https://images.unsplash.com/photo-1496065187959-7f07b8353c55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

