<div class="fixed-bg bg-1 about">
    <h1 class="main-text">Novel Roomとは？</h1>
  </div>
  <div class="fixed-bg bg-1-1">
    <div class="text-box text-center">
      <h2>NovelRoomとは、小説の共同制作サイトです</h2>
      <img src="https://images.pexels.com/photos/1290141/pexels-photo-1290141.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class="about-img">
      <p>
        ユーザーは『Room』の作成と『Novel』の執筆ができます。
      </p>
    </div>
  </div>
  <div class="fixed-bg bg-2">
    <h1 class="submain">『Room』とは</h1>
  </div>
  <div class="fixed-bg bg-2-1">
    <div class="text-box">
      <h2>『Room』とは、『Novel』の設計書です</h2>
      <img src="https://images.pexels.com/photos/442420/books-shelves-architecture-wood-442420.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class="about-img">
      <p>
        『Room』作成者は、『Room』に投稿される『Novel』の前提となる世界観を設定します。
      </p>
      <p>
        そして作成された『Room』は他のユーザーに公開されます。
      </p>
      <p>
        ユーザーは好きな『Room』を閲覧し、その世界観に沿った『Novel』を執筆します。
      </p>
    </div>
  </div>
  <div class="fixed-bg bg-3">
    <h1 class="submain">『Novel』とは</h1>
  </div>
  <div class="fixed-bg bg-3-1">
    <div class="text-box">
      <h2>『Novel』とは、『Room』に投稿される小説です。</h2>
      <img src="https://images.pexels.com/photos/753695/pexels-photo-753695.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class="about-img">
      <p>
        『Room』の記述に従って投稿され、世界観を構成します。
      </p>
      <p>
        当サイトは短編の投稿を想定していますが、マークダウン記法のページ内リンクによって章立てし、長編小説を投稿することも可能です。
      </p>
      <p>
        《》で囲んだ文字は直前の文字のルビになり、《《》》で囲んだ文字には傍点が付きます。
      </p>
    </div>
  </div>
  <div class="fixed-bg">
    <h2>それでは、『Novel Room』を始めましょう！</h2>
  </div>