<div class="fixed-bg bg-1">
    <h1 class="main-text">Novel Roomとは？</h1>
  </div>
  <div class="fixed-bg bg-1-1">
    <div class="text-box text-center">
      <h2>NovelRoomとは、小説の共同制作サイトです</h2>
      <img src="https://images.pexels.com/photos/442420/books-shelves-architecture-wood-442420.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class="about-img">
      <p>
        ユーザーは『Room』の作成と『Novel』の執筆ができます。
      </p>
    </div>
  </div>
  <div class="fixed-bg bg-2">
    <h1 class="submain">『Room』とは</h1>
  </div>
  <div class="fixed-bg bg-2-1">
    <div class="text-box">
      <h2>『Room』とは、『Novel』の設計書です</h2>
      <img src="https://images.pexels.com/photos/442420/books-shelves-architecture-wood-442420.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class="about-img">
      <p>
        『Room』作成者は、『Room』に投稿される『Novel』の前提となる世界観を設定します。
      </p>
      <p>
        そして作成された『Room』は他のユーザーに公開されます。
      </p>
      <p>
        ユーザーは好きな『Room』を閲覧し、その世界観に沿った『Novel』を執筆します。
      </p>
      <p>
        そうして
      </p>
    </div>
  </div>
  <div class="fixed-bg bg-3">
    <h1>The capital is Tórshavn.</h1>
  </div>
  <div class="fixed-bg bg-3-1">
    <div class="text-box">
      <h2>Title</h2>
      <p>
        test11
      </p>
      <img src="https://images.unsplash.com/photo-1505424297051-c3ad50b055ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80", class="about-img">
      <p>
        test12
      </p>
      <p>
        test13
      </p>
      <p>
       test14
      </p>
      <p>
        test15
      </p>
    </div>
  </div>
  <div class="fixed-bg bg-4">
    <h1>The capital is Tórshavn.</h1>
  </div>
  <div class="fixed-bg">
    <h2>Thank You</h2>
    <p>
      test16
    </p>
  </div>