<div>
  <%= form_with(model: [@tag,@novel], local: true) do |f| %>
    <%= f.text_field :title, placeholder: "タイトルを入力" %>
    <%= f.text_field :tag_name, placeholder: "タグをスペース区切りで入力" %>
  <% end %>
</div>

<% @tag_lists.each do |list| %>
  <%= link_to list.tag_name, room_novels_path(tag_id: list.id) %>
<% end %>