/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
main
{
  height: 100%;
  margin: auto 0;
  font-family: 'Raleway','Microsoft JhengHei';
}

 body{
  margin: 0;
  background-color: rgba(242,242,242,1);
  text-decoration: none;
 }

 body:hover{
   text-decoration: none;
 }

 .container{
  margin: 30px;
}

 header{
  background-color: rgb(57,62,70);
  text-decoration: none;
 }

header a,
 header a:hover {
   color: white;
 }

main{
  padding-top: 50px;
}

.container{
  background-color: white;
  padding: 30px;
}

.container-top{
  background-color: rgba(255,255,255,0.7);
}

#top-image{
  width: 100%;
  height: 900px;
  background-image: image-url("pexels-janko-ferlic-590493.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center top;
}

.all-row{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap: 30px;
}

$min-width: 180px;
$secondarycolor: #00ADB5;

@mixin transform($value){
  -webkit-transform: ($value);
     -moz-transform: ($value);
      -ms-transform: ($value);
          transform: ($value);
}
@mixin transition($value){
  -webkit-transition: ($value);
     -moz-transition: ($value);
      -ms-transition: ($value);
          transition: ($value);
}

#main{
  position: relative;
  list-style: none;
  font-size: 0;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
  margin: 5px auto;
  li{
    font-size: 0.8rem;
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    z-index: 5;
    min-width: $min-width;
  }
}

li{
  margin: 0;
}

.drop{
    overflow: hidden;
    list-style: none;
    position: absolute;
    padding: 0;
    width: 100%;
    left: 0;
    top: 48px;
    div{
      @include transform(translate(0,-100%));
      @include transition(all 0.5s 0.1s);
      position: relative;
    }
    li{
      display:block;
      padding: 0;
      width: 100%;
      background: $secondarycolor !important;
    }
  }

#marker{
  height: 6px;
  background: $secondarycolor !important;
  position: absolute;
  bottom: 0;
  width: $min-width;
  z-index: 2;
  @include transition(all 0.35s);
}

@for $i from 1 through 6{
  #main li:nth-child(#{$i}){
    &:hover ul div{
     @include transform(translate(0,0));
    }
    &:hover ~ #marker{
      @include transform(translate(#{(-1+$i)*$min-width},0));
    }
  }
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #00ADB5;
}

i{
  color: white;
}

a {
  text-decoration: none!important;
}

a:hover{
　text-decoration: none;
}

#notifications{
  width: 100%;
  background-image: image-url("pexels-photo-101710");
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
  height: 900px;
  background-size: 110%;
  background-position: center top;
  padding-top: 30px;
}

.novel_index{
  width: 100%;
  background-image: image-url("pexels-photo-433333");
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
  height: 1300px;
  background-size: 110%;
  background-position: center top;
  padding-top: 30px;
}

#novel_new{
  width: 100%;
  background-image: image-url("pexels-janson-k-753695");
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
  background-attachment: fixed;
  height: 900px;
  background-size: 110%;
  background-position: center top;
  padding-top: 30px;
}

#room_new{
  width: 100%;
  background-image: image-url("pexels-photo-2908984");
  background-color:rgba(255,255,255,0.15);
  background-blend-mode:lighten;
  background-attachment: fixed;
  height: 100vh;
  background-size: 110%;
  background-position: center top;
  padding-top: 30px;
}

.container{
    background-color: rgba(255,255,255,0.9)
  }

.fixed-bg {
  min-height: 100%;
  background-size: cover;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.5;
}

.about > h1 {
  text-align: center;
  font-size: 3.5em;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
  opacity: 0.95;
}

.submain{
  font-size: 5.5em;
  color: white;
}

.about-img {
  width: 100%;
  height: auto;
}

.image{
  width: 50px;
  height: 50px;
}

.main-text {
  font-size: 5.5em;
  line-height:0px;
}

.sub-text{
  color:#fff;
  line-height:0px;
  text-shadow: 1px 1px 10px #000, 5px 5px 20px #000, 1px 0px 20px #def;
}

.text-box {
  background: rgba(255,255,255,0.8);
  padding: 20px;
  margin: 0;
  max-width: 1000px;
}

.fixed-bg h2 {
  font-size: 2.5em;
}

.fixed-bg p {
  text-align: center;
  max-width: 1000px;
  font-size: 1.2em;
  text-align: left;
}

.bg-1 {
  background-image: image-url("pexels-nitin-arya-1029141");
}
.bg-1-1 {
  background-image: image-url("pexels-ricardo-esquivel-1907785");
}
.bg-2 {
  background-image: image-url("books-shelves-architecture-wood-442420");
}
.bg-2-1 {
  background-image: image-url("pexels-photo-2908984");
}
.bg-3 {
  background-image: image-url("pexels-wendy-van-zyl-1112048");
}
.bg-3-1 {
  background-image: image-url("pexels-kaboompics-com-5834");
}

.pagination {
  justify-content: center;
  margin: 20px;
}

.rooms_index{
  background-image: image-url("pexels-photo-5613402");
  padding-top: 30px;
}

.my_page{
  background-image: image-url("pexels-max-vakhtbovych-5998034");
  width: 100%;
  background-attachment: fixed;
  height: 1300px;
  background-size: 110%;
  background-position: center top;
  padding-top: 30px;
}

.markdown_text{
  strong {
    -webkit-text-emphasis: filled dot black;
            text-emphasis: filled dot black;
  }
}

.navbar-toggler{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}